*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-url) no-repeat top center/cover;
    margin-right: 5%;
    margin-left:5% ; 
}

:root{
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/MoonStars.svg);
}

.light{
    --text-color: rgb(0, 0, 0);
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/Sun.svg);  
}

/* switch */
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%; 
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    animation: slide-out 0.3s;   
}

.light #switch button{
    animation:slide-in 0.3s forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

header{
    margin: 15px 10px;
}

/* cabeçalho */
#principal{
    color: var(--text-color);
    text-align: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    animation-name: fadein;
    animation-duration: 2s;
    margin-top: 10px;
}

/* texto principal */
#segundo{
    color: var(--text-color);
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    background: var(--surface-color); 
    border: 1px solid var(--stroke-color);
    margin: 30px;
    display: block;
    padding: 5px 5px;
    backdrop-filter: blur(10px); 
    background-clip: padding-box; 
    animation-name: fadein;
    animation-duration: 2s; 
}

 footer{
    padding: 10px;
    margin-top: 30%;
    display: block;
    text-align: center;
    font-size: 15px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    animation-name: fadein;
    animation-duration: 2s;
}

/* animation */
@keyframes fadein{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-in{
    from{
        left: 0;
    }
    
    to{
        left:50%;
    }

}

@keyframes slide-out{
    from {
        left: 50%;
    }
    to{
        left: 0;
    }

}

 /* responsividade*/
 @media (min-width: 700px){
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light{
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

