*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-url) no-repeat top center/cover;
}

:root{
    --bg-url: url(./assets/bg-mobile.jpg);
}

header{
margin: 5px 10px;
border-radius: 15px;
}

/* cabeçalho */
#principal{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    animation-name: fadein;
    animation-duration: 1.5s;
    margin-top: 20px;
  
}

/* texto principal */
#segundo {
    color: white;
    font-size: 20px;
    text-align: left;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); 
    margin: 20px 15%;
    display: block;
    padding: 5px 5px;
    backdrop-filter: blur(5px); 
    background-clip: padding-box; 
    animation-name: fadein;
    animation-duration: 2s;
}

 footer{
    padding: 10px;
    margin-top: 30%;
    display: block;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* animation */
@keyframes fadein{
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

 /* responsividade*/
@media (min-width: 700px){
    :root {
        --bg-url: url(./assets/bg-desktop.jpg)
    }
}